header {
	background: linear-gradient(to bottom, rgba(84,247,81,1) 0%,rgba(42,147,55,1) 100%); /* W3C */
	box-shadow: 0 1px 0 rgb(73, 72, 72);

}

footer {
	background: linear-gradient(to bottom, rgba(84,247,81,1) 0%,rgba(42,147,55,1) 100%); /* W3C */
	height: 100px;
	box-shadow: 0 -1px 0 rgb(73, 72, 72);
}

h1{
	font-family: fantasy;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	font-family: fantasy;
	font-size: 30px;
	margin-top: 5px;
}

h3 {
	font-family: futura;
	font-size: 25px;
	margin-top: 5px;
}

h4 {
	font-family: futura;
	font-size: 12px;
	margin-top: 2px;
	opacity: 0;
}

.container {
  margin: 0 auto;
  width: 940px;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, rgba(150,206,156,1) 0%,rgba(165,247,184,1) 100%); /* W3C */
  font-family: Futura, Helvetcia, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.inputcontainer {
	margin: 0 auto;
	width: 330px;
	display: inline-block;
}

.registrationcontainer {
	margin: 0 auto;
	width: 600px;
	display: inline-block;

}

.membercontainer 	{
	margin: 0 auto;
	width: 500px;
	display: inline-block;
	background: linear-gradient(to bottom, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* W3C */
	box-shadow: 10px 10px 0 rgb(73, 72, 72);
	border-radius: 20px;
	margin-bottom: 10px;
}

input {
	display: inline-block;
	width: 200px;
	height: 20px;
	font-size: 18px;
	margin-left: 0px;
	margin-bottom: 10px;

}
.button {
  position: relative;
  border-radius: 6px;
  box-shadow: 0 5px 0 rgb(73, 72, 72);
  display: inline-block;
  background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(211,211,211,1) 47%,rgba(242,242,242,1) 100%); /* W3C */
  margin-left: 5px;
  margin-top: 13px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
  color: blue;
  -webkit-transition: all 1s ease;
}

.button:active{
  top: 5px;
  box-shadow: 0 0px 0 rgb(73, 72, 72);
  -webkit-transition: all 0.5s ease;

}

.button .large {
  width: 300px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
}

.icon{
	height: 200px;
	width: 200px;
	border-radius: 200px;
	opacity: 0;

}

.nameDisplay {
	font-family: cursive;
	font-size: 30px;
	text-shadow: 0 2px rgb(73, 72, 72);
}

.emailDisplay {
	font-family: Times;
	font-size: 20px;
}

#FirstName {
	display: inline-block;
}

#LastName{
	display: inline-block;
	
}

.Home {
	font-family: Times;
	font-size: 27px;
	text-shadow: 0 2px rgb(73, 72, 72);
}

#HomeTown {
	display: inline-block;
}

#HomeState {
	display: inline-block;
}

.birth {
	display: inline-block;
	min-width: 200px;
	font-size: 20px;

}

#Month {
	display: inline-block;
}

#Date {
	display: inline-block;
}

#Year {
	display: inline-block;
}

.userList {
	font-size: 20px;
	font-family: Helvetica;
	color: black;
	text-shadow: 0 2px 0 white;
}

